.cart_wrap{
    width: 20%;
}
.button__container {
    height: min-content;
    margin: 10px;
    border: 1px solid gainsboro;
    background: linear-gradient(89.97deg, lightgray 1.84%, snow 100.67%);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.button__container:hover {
    transform: scale(1.1);
    background: #040C18;
    color: snow;
    opacity: 1;
    border: 1px solid #002854;
    text-decoration: none;
}

.cartDetails__div {
    padding: 20px;
}

.cartDetails__div p {
    margin: 10px 0;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
